{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}

<br class="clear:both;">
<div class="container">
		<div class="row">
			<div class="col-lg-12">
        <div><h1>About</h1>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, 
          incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus 
          nulla nemo ipsum odit corrupti consequuntur possimus, vero mollitia velit ad consectetur. 
          Alias, laborum excepturi nihil autem nemo numquam, ipsa architecto non, magni consequuntur quam.</div>
				
			</div>
		</div>
	</div>

{% endblock %}